@font-face {
  font-family: "iconfont"; /* Project id 3309621 */
  src: url('iconfont.woff2?t=1649687317496') format('woff2'),
       url('iconfont.woff?t=1649687317496') format('woff'),
       url('iconfont.ttf?t=1649687317496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e614";
}

.icon-zhankai1:before {
  content: "\e61c";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-icon-test:before {
  content: "\e668";
}

.icon-touxiang:before {
  content: "\e620";
}

.icon-xuanzeqizhankai:before {
  content: "\eb15";
}

.icon-24gf-bag:before {
  content: "\e87f";
}

.icon-fenxiang:before {
  content: "\e60f";
}

.icon-fenxiang1:before {
  content: "\e61d";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianying1:before {
  content: "\e8c4";
}

.icon-xiaoxi1:before {
  content: "\e79c";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-zelvxuanzefeiyongdaosanjiaoxingfandui:before {
  content: "\e665";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-daosanjiao:before {
  content: "\e62a";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-guanyanren:before {
  content: "\e63f";
}

.icon-shipin-:before {
  content: "\e603";
}

.icon-paishipin:before {
  content: "\e641";
}

.icon-fangdajing:before {
  content: "\e60c";
}

.icon-xinglika:before {
  content: "\e615";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-zhankai:before {
  content: "\e6ea";
}

